<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-control">
    <label for="name">Current Password</label>
    <input type="password" name="currentPassword" formControlName="currentPassword">
    <app-error-messages
      [name]="'Current Password'"
      [control]="changePasswordForm.controls.currentPassword">
    </app-error-messages>
  </div>
  <div class="form-control">
    <label for="name">New Password</label>
    <input type="password" name="newPassword" formControlName="newPassword">
    <app-error-messages
      [name]="'New Password'"
      [control]="changePasswordForm.controls.newPassword">
    </app-error-messages>
  </div>
  <div class="form-control">
    <label for="name">Confirm New Password</label>
    <input type="password" name="confirmNewPassword" formControlName="confirmNewPassword">
    <app-error-messages
      [name]="'Confirm New Password'"
      [control]="changePasswordForm.controls.confirmNewPassword">
    </app-error-messages>
  </div>
  <button type="submit" [disabled]="changePasswordForm.invalid">Update</button>
</form>
