<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-control">
    <label for="name">Current Password</label>
    <input type="password" name="currentPassword" placeholder="Enter your password" formControlName="currentPassword">
    <app-error-messages
      [name]="'Current Password'"
      [control]="changePasswordForm.controls.currentPassword">
    </app-error-messages>
  </div>
  <div class="form-control">
    <label for="name">New Password</label>
    <input type="password" name="newPassword" placeholder="Enter your new password" formControlName="newPassword">
    <app-error-messages
      [name]="'New Password'"
      [control]="changePasswordForm.controls.newPassword">
    </app-error-messages>
  </div>
  <div class="form-control">
    <label for="name">Confirm New Password</label>
    <input type="password" name="confirmNewPassword" placeholder="Reenter your new password" formControlName="confirmNewPassword">
    <app-error-messages
      [name]="'Confirm New Password'"
      [control]="changePasswordForm.controls.confirmNewPassword"
      [group]="changePasswordForm"
      [passwordControlName]="'newPassword'"
      [confirmPasswordControlName]="'confirmNewPassword'">
    </app-error-messages>
  </div>
  <button type="submit" [disabled]="changePasswordForm.invalid">Change password</button>
</form>
