<div>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <input type="text" name="title" placeholder="Title" formControlName="title"/>
    </div>
    <div>
      <textarea name="content" placeholder="Content" cols="30" rows="10" formControlName="content"></textarea>
    </div>
    <div>
      <input type="text" name="tag" placeholder="Tag" maxlength="20" formControlName="tag"/>
      <button
        type="button"
        [disabled]="!postForm.controls.tag.value || postForm.controls.tag.errors"
        (click)="onAddTagClick()">
        Add tag
      </button>
      <p *ngIf="postForm.controls.tag.invalid && postForm.controls.tag.errors.pattern">
        Please use letters and numbers only
      </p>
    </div>
    <pre>{{ tags | json }}</pre>
    <button type="submit" [disabled]="postForm.invalid">Submit</button>
  </form>
</div>

