<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="bold margin-bottom-s">NEW POST</div>
  <input type="text" name="title" placeholder="Title" formControlName="title"/>
  <textarea name="content" placeholder="Content" formControlName="content"></textarea>
  <div>
    <input type="text" name="tag" placeholder="Tag" maxlength="20" formControlName="tag"/>
    <button
      type="button"
      [disabled]="!postForm.controls.tag.value || postForm.controls.tag.errors"
      (click)="onAddTagClick()">
      Add tag
    </button>
    <p *ngIf="postForm.controls.tag.invalid && postForm.controls.tag.errors.pattern">
      Please use letters and numbers only
    </p>
  </div>
  <pre>{{ tags | json }}</pre>
  <button type="submit" [disabled]="postForm.invalid">Submit</button>
</form>