:host {
  position: fixed;
  bottom: 0;
  right: var(--right-padding);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  transition-property: bottom;
  transition-duration: var(--transition-duration);
}

:host(.closed) {
  bottom: -35px;
}

.container {
  text-align: right;
}

.main {
  padding: 5px;
  border: 1px solid;
  border-bottom: none;
}

.main.light {
  color: var(--dark-color);
  border-color: var(--dark-color);
  background-color: var(--light-color);
}

.main.dark {
  color: var(--light-color);
  border-color: var(--light-color);
  background-color: var(--dark-color);
}

.character {
  margin: 0 3px;
}

.theme.character {
  font-size: 1.6em;
}

.size.character {
  font-weight: bold;
}

.size.character.small {
  font-size: 1.2em;
}

.size.character.medium {
  font-size: 1.4em;
}

.size.character.large {
  font-size: 1.6em;
}

.theme.character:hover, .size.character:hover {
  cursor: pointer;
}
