@import './variables.css';

.title {
  font-size: 1.2em;
  margin: 0;
}

.metadata {
  margin: 5px auto;
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
}

.routable {
  text-decoration: underline;
}

.routable:hover {
  cursor: pointer;
}

.header {
  font-size: 1em;
}

input {
  width: 98%;
  margin-bottom: var(--margin-s);
}

textarea {
  width: 98%;
  margin-bottom: var(--margin-s);
  resize: none;
}

.margin-bottom-s {
  margin-bottom: var(--margin-s)
}
