@import './variables.css';

.title {
  font-size: 1.2em;
  margin: 0;
}

.metadata {
  margin: 5px auto;
  font-size: 0.8em;
}

.pointer {
  cursor: pointer;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
}

.clickable {
  text-decoration: underline;
}

.clickable:hover {
  cursor: pointer;
}

.header {
  font-size: 1em;
}

input {
  width: 98%;
  margin-bottom: var(--margin-s);
}

textarea {
  width: 98%;
  margin-bottom: var(--margin-s);
  resize: none;
}

.margin-bottom-s {
  margin-bottom: var(--margin-s)
}

.toggle {
  flex: 1 100%;
}

.toggle span {
  cursor: pointer;
}

.toggle.disabled span {
  cursor: default;
}

:host(.light) .toggle.disabled {
  color: var(--disabled-dark-color);
}

:host(.dark) .toggle.disabled {
  color: var(--disabled-light-color);
}
