:root {
  --margin-s: 20px;
  --margin-m: 30px;
  --dark-color: #1a1a1a;
  --light-color: #e5e5e5;
  --disabled-dark-color: #bbbbbb;
  --disabled-light-color: #555555;
  --width: 640px;
  --small-font: 16px;
  --medium-font: 18px;
  --large-font: 20px;
  --right-padding: 10%;
  --transition-duration: 0.5s;
}
