:root {
  --margin-s: 20px;
  --margin-m: 30px;
  --dark-color: #000000;
  --light-color: #ffffff;
  --width: 640px;
  --small-font: 16px;
  --medium-font: 18px;
  --large-font: 20px;
  --right-padding: 10%;
}
