<ul class="primary">
  <ng-container *ngIf="isLoggedIn">
    <li>
      <span (click)="onRoutableClick(['posts', 'new'])">NEW POST</span>
    </li>
    <li>
      <span (click)="onLogoutClick()">LOGOUT</span>
    </li>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
    <li>
      <span (click)="onRoutableClick(['login'])">LOGIN</span>
    </li>
    <li>
      <span (click)="onRoutableClick(['create-account'])">NEW ACCOUNT</span>
    </li>
  </ng-container>
</ul>
<ul>
  <li>
    <span (click)="onRoutableClick(['posts'])">POSTS</span>
  </li>
  <li>
    <span (click)="onRoutableClick(['users'])">USERS</span>
  </li>
</ul>
