<ul class="primary">
  <ng-container *ngIf="loggedInUser">
    <li *ngFor="let item of loggedInRoutingItems">
      <span (click)="onRoutableClick(item.commands)">{{ item.text }}</span>
    </li>
    <li>
      <span (click)="onLogoutClick()">LOGOUT</span>
    </li>
  </ng-container>
  <ng-container *ngIf="!loggedInUser">
    <li *ngFor="let item of loggedOutRoutingItems">
      <span (click)="onRoutableClick(item.commands)">{{ item.text }}</span>
    </li>
  </ng-container>
</ul>
<ul>
  <li *ngFor="let item of constantRoutingItems">
    <span (click)="onRoutableClick(item.commands)">{{ item.text }}</span>
  </li>
</ul>
