:host {
    display: block;
    position: fixed;
    top: 50px;
    left: 10vw;
}

ul {
    list-style: none;
}

ul li {
    margin: 5px 10px;
}

ul li span {
    border-bottom: 1px dashed black;
}

ul li span:hover {
    cursor: pointer;
    border-bottom-style: solid;
}

.primary {
    margin-bottom: 50px;
}
