<div class="label title routable" (click)="onRoutableClick(['home'])">Y&bull;A&bull;B&bull;A</div>
<ul>
  <ng-container *ngIf="loggedInUser">
    <li *ngFor="let item of loggedInRoutingItems">
      <span class="label routable" (click)="onRoutableClick(item.commands)">{{ item.text }}</span>
    </li>
    <li>
      <span class="label routable" (click)="onLogoutClick()">Logout</span>
    </li>
  </ng-container>
  <ng-container *ngIf="!loggedInUser">
    <li *ngFor="let item of loggedOutRoutingItems">
      <span class="label routable" (click)="onRoutableClick(item.commands)">{{ item.text }}</span>
    </li>
  </ng-container>
</ul>
