<h2 class="title" [ngClass]="{ 'clickable': isPreview }" (click)="onNameClick()">
  {{ user.name }}
</h2>
<div class="metadata">
  <span class="label">Joined</span>
  <span>{{ user.created_at | date:'medium' }}</span>
</div>
<div class="metadata">
  <span class="label clickable" [routerLink]="['/posts']" [queryParams]="{ user: user.name }">Posts</span>
  <span>{{ user.posts_count }}</span>
  <span>&#x02022;</span>
  <span class="label">comments</span>
  <span>{{ user.comments_count }}</span>
</div>
<div class="metadata" *ngIf="!isPreview">
  <span class="label">Account Confirmed</span>
  <span>{{ user.is_confirmed ? 'Yes' : 'No' }}</span>
</div>
<div class="metadata" *ngIf="!isPreview">
  <span class="label">Website</span>
  <a *ngIf="user.website" [href]="user.website | href" target="_blank">{{ user.website }}</a>
  <span *ngIf="!user.website">/</span>
</div>
<div class="metadata" *ngIf="!isPreview">
  <span class="label">About</span>
  <span>{{ user.about || '/' }}</span>
</div>
