:host {
  font-size: 0.8em;
  padding: 0 5px 2px 5px;
  border: 1px solid;
  border-bottom: none;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
}

:host(.light) {
  border-color: var(--dark-color);
}

:host(.dark) {
  border-color: var(--light-color);
}
