<h2 class="title" [ngClass]="{ 'routable': isTitleRoutable }" (click)="onTitleClick()">
  {{ post.title }}
</h2>
<div class="metadata">
  <span class="bold">BY</span>
  <span class="routable" (click)="onUserNameClick()">{{ post.user.name }}</span>
  <span class="bold">ON</span>
  <span>{{ post.created_at | date:'medium' }}</span>
</div>
<div class="metadata">
  <span class="bold">TAGS</span>
  <ng-container *ngIf="post.tags.length">
    <ng-container *ngFor="let tag of post.tags">
      <span class="routable">#{{ tag.key }}</span>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!post.tags.length">/</ng-container>
</div>
<div>
  {{ post.content }}
</div>
