<h2 class="title" [ngClass]="{ 'routable': isTitleRoutable }" (click)="onTitleClick()">
  {{ post.title }}
</h2>
<div class="metadata">
  <span class="label">By</span>
  <span class="routable" (click)="onUserNameClick()">{{ post.user.name }}</span>
  <span class="label">On</span>
  <span>{{ post.created_at | date:'medium' }}</span>
</div>
<div class="metadata">
  <span class="label">Views</span>
  <span>{{ post.views_count }}</span>
  <span class="label">Comments</span>
  <span>{{ post.comments_count }}</span>
  <span>&#x02022;</span>
  <span class="label">Tags</span>
  <ng-container *ngIf="post.tags.length">
    <ng-container *ngFor="let tag of post.tags">
      <span class="routable" (click)="onTagClick(tag.key)">#{{ tag.key }}</span>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!post.tags.length">/</ng-container>
</div>
<div [innerHTML]="sanitizedPostContent"></div>
