:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  min-height: 100vh;
  transition-property: color, border-color, background-color, padding-top, font-size;
  transition-duration: var(--transition-duration);
}

:host(.light) {
  color: var(--dark-color);
  border-color: var(--dark-color);
  background-color: var(--light-color);
}

:host(.dark) {
  color: var(--light-color);
  border-color: var(--light-color);
  background-color: var(--dark-color);
}

:host(.small) {
  font-size: var(--small-font);
  padding-top: 74px;
}

:host(.medium) {
  font-size: var(--medium-font);
  padding-top: 83px;
}

:host(.large) {
  font-size: var(--large-font);
  padding-top: 90px;
}

.content {
  width: var(--width);
}

.main {
  padding: 10px;
}
