:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  min-height: 100vh;
  transition-property: color, border-color, background-color, padding-top, font-size;
  transition-duration: var(--transition-duration);
}

:host(.light) {
  color: var(--dark-color);
  border-color: var(--dark-color);
  background-color: var(--light-color);
}

:host(.dark) {
  color: var(--light-color);
  border-color: var(--light-color);
  background-color: var(--dark-color);
}

:host(.small) {
  font-size: var(--small-font);
  padding-top: 95px;
}

:host(.medium) {
  font-size: var(--medium-font);
  padding-top: 108px;
}

:host(.large) {
  font-size: var(--large-font);
  padding-top: 118px;
}

:host(.small.header-list-horizontal) {
  padding-top: 63px;
}

:host(.medium.header-list-horizontal) {
  padding-top: 71px;
}

:host(.large.header-list-horizontal) {
  padding-top: 77px;
}

:host(.small.header-closed) {
  padding-top: 20px;
}

:host(.medium.header-closed) {
  padding-top: 21px;
}

:host(.large.header-closed) {
  padding-top: 23px;
}

.content {
  width: var(--width);
}

.main {
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  :host(.small) {
    padding-top: 63px;
  }

  :host(.medium) {
    padding-top: 71px;
  }

  :host(.large) {
    padding-top: 77px;
  }
}
