:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding-top: 70px;
  min-height: 100vh;
}

:host(.light) {
  color: var(--dark-color);
  border-color: var(--dark-color);
  background-color: var(--light-color);
}

:host(.dark) {
  color: var(--light-color);
  border-color: var(--light-color);
  background-color: var(--dark-color);
}

:host(.small) {
  font-size: 16px;
}

:host(.medium) {
  font-size: 18px;
}

:host(.large) {
  font-size: 20px;
}

.content {
  width: var(--width);
}
