<div class="navigation">
  <div class="title label clickable" (click)="router.navigate(['home'])">Bloggging</div>
  <app-breadcrumbs></app-breadcrumbs>
</div>
<div class="navigation" [hidden]="isLoginOrCreateAccountUrl">
  <ul>
    <ng-container *ngIf="user">
      <li>{{ user.name }}</li>
      <li *ngFor="let item of loggedInRoutingItems">
        <span class="label clickable" (click)="router.navigate(item.commands)">{{ item.text }}</span>
      </li>
      <li>
        <span class="label clickable" (click)="onLogoutClick()">Logout</span>
      </li>
    </ng-container>
    <ng-container *ngIf="!user">
      <li *ngFor="let item of loggedOutRoutingItems">
        <span class="label clickable" (click)="router.navigate(item.commands)">{{ item.text }}</span>
      </li>
    </ng-container>
  </ul>
</div>
<div class="toggle" [ngClass]="{ 'disabled': isToggleDisabled }">
  <span (click)="onToggleClick()">&#x022EF;&#x022EF;</span>
</div>
