:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid;
  padding-top: 10px;
  transition-property: color, border-color, background-color, top;
  transition-duration: var(--transition-duration);
}

:host(.light) {
  color: var(--dark-color);
  border-color: var(--dark-color);
  background-color: var(--light-color);
}

:host(.dark) {
  color: var(--light-color);
  border-color: var(--light-color);
  background-color: var(--dark-color);
}

:host(.closed.small) {
  top: -50px;
}

:host(.closed.medium) {
  top: -57px;
}

:host(.closed.large) {
  top: -61px;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.container > div {
  margin: 0 10px;
}

.container > div:nth-child(1) {
  flex: 2;
  min-width: 30%;
}

.container > div:nth-child(2) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2em;
}

.app-title {
  font-size: 1.2em;
  font-weight: bold;
}

.container > div:nth-child(2) > div:not(:last-child) {
  margin-right: 20px;
}

@media only screen and (min-width: 1024px) {
  :host {
    justify-content: space-around;
  }
}
