<div class="navigation">
  <div class="title clickable" routerLink="/home">yabla</div>
  <app-breadcrumbs></app-breadcrumbs>
</div>
<div class="navigation" [hidden]="isAuthUrl">
  <ul>
    <ng-container *ngIf="user">
      <li>{{ user.name }}</li>
      <li *ngFor="let item of loggedInRoutingItems">
        <fa-icon class="clickable" [icon]="item.icon" [routerLink]="item.commands"></fa-icon>
      </li>
      <li>
        <fa-icon class="clickable" [icon]="faSignOutAlt" (click)="onLogoutClick()"></fa-icon>
      </li>
    </ng-container>
    <ng-container *ngIf="!user">
      <li *ngFor="let item of loggedOutRoutingItems">
        <fa-icon class="clickable" [icon]="item.icon" [routerLink]="item.commands"></fa-icon>
      </li>
    </ng-container>
  </ul>
</div>
<div class="toggle" [ngClass]="{ 'disabled': isToggleDisabled }" (click)="onToggleClick()">
  &#x022EF;&#x022EF;
</div>
