<div class="navigation">
  <div class="title clickable" title="blogs: a blogging app" routerLink="/home">blogs</div>
  <app-breadcrumbs></app-breadcrumbs>
</div>
<div class="navigation" [hidden]="isAuthUrl">
  <ul>
    <ng-container *ngIf="isLoggedIn">
      <li *ngFor="let item of loggedInRoutingItems">
        <fa-icon class="clickable" [title]="item.text" [icon]="item.icon" [routerLink]="item.commands"></fa-icon>
      </li>
      <li>
        <fa-icon class="clickable" title="Logout" [icon]="faSignOutAlt" (click)="onLogoutClick()"></fa-icon>
      </li>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <li *ngFor="let item of loggedOutRoutingItems">
        <fa-icon class="clickable" [title]="item.text" [icon]="item.icon" [routerLink]="item.commands"></fa-icon>
      </li>
    </ng-container>
  </ul>
</div>
<div class="toggle" [ngClass]="{ 'disabled': isToggleDisabled }" (click)="onToggleClick()">
  &#x022EF;&#x022EF;
</div>
