:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid;
}

.container {
  justify-content: space-between;
}

:host(.light) {
  color: var(--dark-color);
  border-color: var(--dark-color);
  background-color: var(--light-color);
}

:host(.dark) {
  color: var(--light-color);
  border-color: var(--light-color);
  background-color: var(--dark-color);
}

:host(.closed.small) {
  top: -75px;
}

:host(.closed.medium) {
  top: -87px;
}

:host(.closed.large) {
  top: -95px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container > div {
  padding: 5px 10px;
}

.title {
  font-size: 1.2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  :host(.closed.small) {
    top: -43px;
  }

  :host(.closed.medium) {
    top: -50px;
  }

  :host(.closed.large) {
    top: -54px;
  }

  ul li {
    display: inline;
    margin: 0 5px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    justify-content: space-evenly;
  }
}
