<form [formGroup]="myProfileForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-control">
    <label for="name">Name</label>
    <input type="text" name="name" formControlName="name" readonly disabled>
    <app-error-messages [name]="'Name'" [control]="myProfileForm.controls.name"></app-error-messages>
  </div>
  <div class="form-control">
    <label for="email">Email</label>
    <input type="text" name="email" formControlName="email" readonly disabled>
    <app-error-messages [name]="'Email'" [control]="myProfileForm.controls.email"></app-error-messages>
  </div>
  <div class="form-control">
    <label for="website">Website</label>
    <input type="text" name="website" formControlName="website">
    <app-error-messages [name]="'Website'" [control]="myProfileForm.controls.website"></app-error-messages>
  </div>
  <div class="form-control">
    <label for="about">About</label>
    <textarea name="about" formControlName="about"></textarea>
    <app-error-messages [name]="'About'" [control]="myProfileForm.controls.about"></app-error-messages>
  </div>
  <button type="submit" [disabled]="myProfileForm.invalid || myProfileForm.pristine">Update</button>
</form>
