<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-control">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Enter your name" formControlName="name">
    <app-error-messages [name]="'Name'" [control]="loginForm.controls.name"></app-error-messages>
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password"name="password" placeholder="Enter your password" formControlName="password">
    <app-error-messages [name]="'Password'" [control]="loginForm.controls.password"></app-error-messages>
  </div>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
