<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-control">
    <label for="name">New Password</label>
    <input type="password" name="newPassword" placeholder="Enter your new password" formControlName="newPassword">
    <app-error-messages
      [name]="'New Password'"
      [control]="resetPasswordForm.controls.newPassword">
    </app-error-messages>
  </div>
  <div class="form-control">
    <label for="name">Confirm New Password</label>
    <input type="password" name="confirmNewPassword" placeholder="Reenter your new password" formControlName="confirmNewPassword">
    <app-error-messages
      [name]="'Confirm New Password'"
      [control]="resetPasswordForm.controls.confirmNewPassword"
      [group]="resetPasswordForm"
      [passwordControlName]="'newPassword'"
      [confirmPasswordControlName]="'confirmNewPassword'">
    </app-error-messages>
  </div>
  <button type="submit" [disabled]="resetPasswordForm.invalid">Submit</button>
</form>
