<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Enter post's title" formControlName="title"/>
    <app-error-messages [name]="'Title'" [control]="postForm.controls.title"></app-error-messages>
  </div>
  <div class="form-control">
    <label for="content">Content</label>
    <quill-editor
      formControlName="content">
    </quill-editor>
    <app-error-messages [name]="'Content'" [control]="postForm.controls.content"></app-error-messages>
  </div>
  <div class="form-control">
    <label for="tag">Tag</label>
    <input
      type="text"
      name="tag"
      placeholder="Enter tag"
      formControlName="tag"
      (keypress)="onTagInputKeyPress($event)"
    />
    <button
      type="button"
      [disabled]="!postForm.controls.tag.value || postForm.controls.tag.errors || tags.length >= 5"
      (click)="onAddTagClick()">
      Add
    </button>
    <app-error-messages [name]="'Tag'" [control]="postForm.controls.tag"></app-error-messages>
  </div>
  <p *ngIf="postForm.controls.tag.invalid && postForm.controls.tag.errors.pattern">
    Please use letters and numbers only
  </p>
  <div class="margin-bottom-s">
    <span class="label">Tags</span>
    <ng-container *ngIf="tags.length">
      <ng-container *ngFor="let tag of tags">
        <span (click)="onTagClick(tag)">#{{ tag }}</span>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!tags.length">/</ng-container>
  </div>
  <button type="submit" [disabled]="postForm.invalid || isWaitingForResponse">Submit</button>
</form>