<div *ngIf="control.invalid && control.dirty">
  <p *ngIf="control.errors.required">
    {{ name }} is required.
  </p>
  <p *ngIf="control.errors.minlength">
    {{ name }} must have {{ control.errors.minlength.requiredLength }} characters at least.
  </p>
  <p *ngIf="control.errors.maxlength">
    {{ name }} can have {{ control.errors.maxlength.requiredLength }} characters at most.
  </p>
  <p *ngIf="control.errors.email">
    {{ name }} must be a valid email.
  </p>
</div>
<div *ngIf="group && group.invalid && group.dirty && group.errors">
  <p *ngIf="group.errors.passwordMatch &&
    group.controls[passwordControlName || 'password'].dirty &&
    group.controls[confirmPasswordControlName || 'confirmPassword'].dirty">
    Passwords must match.
  </p>
</div>
