@import '../node_modules/quill/dist/quill.snow.css';
@import '../node_modules/ngx-toastr/toastr.css';
@import './app/shared/variables.css';

body {
  margin: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.title {
  font-size: 1.2em;
  margin: 0;
  display: inline;
}

.metadata {
  margin: 5px auto;
  font-size: 0.8em;
}

.metadata span{
  margin: 0 2px;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
}

.header {
  font-size: 1em;
}

input {
  width: 100%;
}

textarea {
  width: 98%;
  resize: none;
}

.margin-bottom-s {
  margin-bottom: var(--margin-s)
}

.toggle {
  flex: 1 100%;
}

.disabled {
  opacity: 0.42;
  cursor: default;
}

.form-control {
  text-align: left;
  margin-bottom: var(--margin-s);
}

.form-control label {
  display: block;
  font-size: 0.8rem;
}

.pointer {
  cursor: pointer;
}

.clickable {
  text-decoration: underline;
}

.clickable:hover, .toggle:hover {
  cursor: pointer;
}

.ql-toolbar, .ql-container {
  background-color: white;
  color: black;
}

.toast {
  margin-top: 5px !important;
}
