<div class="label margin-bottom-s">Work In Progress</div>
<div class="stats margin-bottom-m">
    <div class="pointer" routerLink="/users">
        <fa-icon title="Users" [icon]="faUsers"></fa-icon> {{ stats.users_count }}
    </div>
    <div class="pointer" routerLink="/posts">
        <fa-icon title="Posts" [icon]="faFileSignature"></fa-icon> {{ stats.posts_count }}
    </div>
    <div class="default-cursor">
        <fa-icon title="Comments" [icon]="faComments"></fa-icon> {{ stats.comments_count }}
    </div>
</div>
<div class="label margin-bottom-s">Recent</div>
<app-post-item *ngFor="let post of recentPosts; trackBy: trackById" [post]="post"></app-post-item>
<div class="label margin-bottom-s">Random</div>
<app-post-item *ngFor="let post of randomPosts; trackBy: trackById" [post]="post"></app-post-item>
