<div class="label margin-bottom-s">Work In Progress</div>
<div class="label margin-bottom-s">blogs: a blogging app</div>
<div class="metadata margin-bottom-s">
    <span class="label clickable" routerLink="/users">Users</span>
    <span>{{ stats.users_count }}</span>
    <span>&#x02022;</span>
    <span class="label clickable" routerLink="/posts">Posts</span>
    <span>{{ stats.posts_count }}</span>
    <span>&#x02022;</span>
    <span class="label">Comments</span>
    <span>{{ stats.comments_count }}</span>
</div>
<div class="label margin-bottom-s">Recent</div>
<app-post-item *ngFor="let post of recentPosts; trackBy: trackById" [post]="post"></app-post-item>
<div class="label margin-bottom-s">Random</div>
<app-post-item *ngFor="let post of randomPosts; trackBy: trackById" [post]="post"></app-post-item>
