:host {
  font-size: 0.8em;
  padding: 2px 5px 0 5px;
  border: 1px solid;
  border-top: none;
  position: absolute;
  right: var(--right-padding);
}

:host(.light) {
  border-color: var(--dark-color);
}

:host(.dark) {
  border-color: var(--light-color);
}
